body {
    font-family: "Muli", sans-serif;
    background-color: #aca592;
    color: #668586;
}

h1 {
    font-size: 68px;
}

p {
    font-size: 18px;
    padding-left:15px;
}
em {
    font-style: normal;
}
footer {
    text-align: center;
    padding-top: 25px;
}
a {
    padding-left: 25px;
    font-size: 15px;
    color:#333;
}
a:hover {
    color:#F87666;
}

.me-img {
    content: url("../img/personal.jpg");
    z-index: -1;
    width: 50%;
    right: 0;
    top: 0;
    margin: 20px;
}

.restart {
    font-weight: bold;
}

.sub-point {
    font-style: italic;
    font-size: 14px;
    padding-left:30px;
    color: #82AEB1;
}
.bl {
    color: #47E5BC;
}

.pi {
    color: #F4AFBA;
}

