body {
    font-family: "Muli", sans-serif;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
    padding-left:15px;
}

a {
}

.background {
    position: absolute;
    background: #f4dbd8;
    color: #fcf5f4;
    z-index: -1;
    top: 0;
    width: 100%;
}

.me-img {
    content: url("../img/turkey.jpg");
    width: 350px;
    position: absolute;
    top: 50px;
    right: 200px;
    z-index: -1;
    height: 400px;
}

.restart {
    padding-top: 20px;
    font-style: bold;
}

.secret {
    font-style: italic;
    font-size: 15px;
    padding-left:30px;
    color: #6FA1A0;
}

.sub-point {
    padding-left:30px;
    font-size: 15px;
}

span .bl {
    color: #0fa3b1;
}

span .pi {
    color: #F87666;
}
