body {
    font-family: "Muli", sans-serif;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 20px;
}

.restart {
    padding-top: 10px;
    font-style: bold;
}

.secret {
    font-style: italic;
}

.sub-point {
    color: blue;
    left: 10px;
}
